{% extends 'base.html.twig' %}

{% block title %}Liste des chamions{% endblock %}

{% block body %}
    <h1>Ici il y aura la liste des persos</h1>
    <div class="grille">
        <div class="card">
            <div class="pic">
                {% for item in allChamp %}
                    <p>{{ item.name }}</p>
                {% endfor %}
                <img src="LolProject/src/template/img/Tryndamere_0.jpeg">
                
            </div>
            


        </div>

       

        </div>




    <style>
        .grille{
            margin: auto;
            display: flex;
            justify-content: space-between;
            width: 90%;
            height: 80vh;
            background-color: black;
        }

        .card{
            background-color: wheat;
            width: 20%;
            height: 50%;
        }


    </style>
{% endblock %}
